ion-content {
    --background: #fff;
  
    .login-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 20px;
  
      form {
        width: 100%;
        max-width: 360px; 
  
        ion-item {
          margin-top: 10px;
          
          --padding-start: 0; 
  
          ion-label[floating] {
            transform: translateY(-8px); 
          }
        }
      }
  
      .register-link {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
  