ion-card {
    margin: 8px;
    transition: transform 0.2s;
    height: 400px;  // Altura fija para todas las tarjetas
    display: flex;
    flex-direction: column;
    
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    img {
      width: 100%;  
      height: 200px;  
      object-fit: scale-down; 
    }
  
    ion-card-header,
    ion-card-content {
      padding: 8px;  
    }
  
    ion-card-title {
      font-size: 1.2em;
    }
  
    ion-card-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;  
  
      ion-badge {
        align-self: flex-start; 
  
      ion-item {
        align-self: center;  
        width: 90%;  
      }
    }
  }
  
  ion-grid {
    padding: 0;
  }
  
  ion-content {
    height: 80vh;
    overflow: auto;
  }
}